@tailwind base;
@tailwind components;
@tailwind utilities;

/* so visitors can print */
@media print {
  .no-print { display: none !important; }
  main { padding: 0 !important; }
}


button {
  cursor: pointer !important;
}
